table {
    width: 100%;
}

table, th, tr {
    border: 1 px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5 px;
    text-align: left;
}

table#t01 tr:nth-child(even){
    background-color: #eee;
}
table#t01 tr:nth-child(odd){
    background-color: #fff;
}

table#t01 th {
   background-color: black;
   color: white;
}